streamlit==1.25.0
tensorflow==2.15.0
Pillow<10
numpy==1.21.5  # Adjusted to ensure compatibility with scipy, numba, and other dependencies
pandas
matplotlib
seaborn
scikit-learn
opencv-python
scipy  # Consider specifying a version if needed for compatibility
numba  # Consider specifying a version if needed for compatibility
