streamlit
tensorflow>=2.15.0
Pillow<10
numpy>=1.21,<1.23
pandas
matplotlib
seaborn
scikit-learn
opencv-python
scipy
numba
requests
joblib
black  # Optional, for code formatting
flake8  # Optional, for linting
